body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Color de fondo, ajusta según tus preferencias */
    color: #333; /* Color de texto principal */
}

header {
    background-color: #333; /* Color de fondo del encabezado, ajusta según tus preferencias */
    color: #fff; /* Color de texto del encabezado */
    text-align: center;
    padding: 30px;
/*     position: fixed;
    width: 100%;*/
}

section {
    padding: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333; /* Color de fondo del pie de página, ajusta según tus preferencias */
    color: #fff; /* Color de texto del pie de página */
    text-align: center;
    padding: 20px;
}


.text-justify {
    text-align: justify !important;
}

.tycImg{
    width: 55rem;
    border-radius: 1rem;
}

.tycImg2{
    width: 30rem;
    border-radius: 1rem;
}



.tycImgLogo{
    width: 10rem;
    border-radius: 4rem;
    transition: transform 0.1s ease-in-out;

}

.tycImgLogo:hover{
    transform: scale(1.2);

}

.header__redesSociales__logo {
    width: 3rem;
    border-radius: 1rem;
    padding: 5px;
    transition: transform 0.1s ease-in-out;
}

.header__redesSociales__logo:hover {
    transform: scale(1.2);
}

.color1{
    background-color: #D9D8D7;
}

.color2{
    background-color: #F2F2F0;
}

.email{
    font-size: 1.5rem;
    text-decoration: none;
}

.separacion{
    justify-content: space-evenly;
}


.negrita{
    font-weight: bold;
}

.grande{
    font-size: larger;
}

.boton-formal {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #333;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.1s, color 0.2s, border-color 0.1s;
    border-radius: 0.3rem;
  }
  
  .boton-formal:hover {
    background-color: #333;
    color: #fff;
    border-color: #fff;
  }


  
  .services {
    padding: 5%;
  }
  

  

  .services li::before {
    content: "\2022"; /* Código Unicode para el punto grande */
    font-size: 24px;
    margin-right: 10px;
    color: #333;
  }

  


  document.getElementById("whatsappLink").addEventListener("click", function(event) {
    event.preventDefault();
    openWhatsApp();
  });
  
  function openWhatsApp() {
    const newWindow = window.open("https://wa.me/5492615102695", "_blank", "noopener");
    newWindow.focus();
  }
  